<?xml version="1.0" encoding="utf-8"?>
<keyboard name="Termux Layout" bottom_row="False" locale_extra_keys="False">
  <modmap>
    <shift a="capslock" b=""/>
    <fn a="capslock" b=""/>
    <ctrl a="capslock" b=""/>
  </modmap>
  <row>
    <key c="q" nw="0" se="@"/>
    <key c="w" nw="1" sw="2" se="3"/>
    <key c="e" nw="4" sw="5" se="6"/>
    <key c="r" nw="7" sw="8" se="9"/>
    <key c="t"/>
    <key c="y"/>
    <key c="u"/>
    <key c="i" sw="-" ne="|" se="~"/>
    <key c="o" sw="+" ne="&amp;" se="\"/>
    <key c="p"/>
  </row>
  <row>
    <key c="a" shift="0.5" se="esc" nw="tab"/>
    <key c="s" nw="{" se="(" sw="`"/>
    <key c="d" nw="}" se=")" sw="&quot;"/>
    <key c="f"/>
    <key c="g"/>
    <key c="h"/>
    <key c="j" sw="/" se=";" ne="*"/>
    <key c="k" sw="?" se="," ne="#"/>
    <key c="l"/>
  </row>
  <row>
    <key c="shift" width="1.5" nw="capslock"/>
    <key c="z" se="[" nw="&lt;" sw="%"/>
    <key c="x" se="]" nw="&gt;" sw="'"/>
    <key c="c"/>
    <key c="v"/>
    <key c="b"/>
    <key c="n" ne=":" sw="^" se="$"/>
    <key c="m" ne="=" sw="!" se="_"/>
    <key c="backspace" width="1.5" ne="delete"/>
  </row>
  <row height="0.95">
    <key c="ctrl" width="1.7"/>
    <key c="." width="1.1" sw="fn" se="alt"/>
    <key c="space" width="4.4"/>
    <key n="up" e="right" w="left" s="down" width="1.1"/>
    <key c="enter" width="1.7" se="config" ne="action" sw="switch_forward" nw="change_method"/>
  </row>
</keyboard>
